<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Publicar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
    </script>
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>

<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Pato TV</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/designer/tvo/list">Videos en vivo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="/tvo/create">Agregar video</a>
                            </li>
                            
                            
                        </ul>
                       
                    </div>
                </div>
            </nav>
            <div class="col-xl-12 col-md-12 mt-5 container">
                <div class="ms-panel">
                    <div class="ms-panel-body">
                        <div class="table-responsive " style="display: flex; flex-wrap: nowrap ">
                            <div class="col-xl-3 col-md-12"></div>
                            <div class="col-xl-6 col-md-12">
                                <div class="ms-panel-header">
                                    <h1>Videos en Striming</h6>
                                </div>
                                <table class="table table-hover thead-primary ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Titulo</th>
                                            {{-- <th scope="col">Publicando en</th> --}}
                                            <th scope="col" style="width: 86px">Video</th>
                                            <th scope="col" style="width: 80px">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach ($videos as $i)
                                            <tr>
                                                <td>{{ $i->name }}</td>
                                                {{-- <td>
                                                    @if ($i->amolatina)
                                                        Amolatina &nbsp;&nbsp;
                                                    @endif
                                                    @if ($i->prime)
                                                        Prime &nbsp;&nbsp;
                                                    @endif
                                                    @if ($i->mandala)
                                                        Mandala &nbsp;&nbsp;
                                                    @endif
                                                </td> --}}
                                                <td>
                                                    <a target="_blank" href="{{ asset('storage/' . $i->route) }}"><img
                                                            src="https://www.pngitem.com/pimgs/m/115-1156160_circled-play-icon-blue-circle-hd-png-download.png"
                                                            style="height: 32px;margin-left: 7px;" alt=""></a>
                                                </td>
                                                {{-- {{  $i->state == 1 ? 'checked':''   }} --}}
                                                <td>
                                                    <ul class="ms-list ms-list-display">


                                                        <li>
                                                            <label class="ms-switch">
                                                                <input onclick="changeState({{ $i->id }})"
                                                                    type="checkbox"
                                                                    {{ $i->state == 1 ? 'checked' : '' }}>
                                                                <span
                                                                    class="ms-switch-slider ms-switch-primary round"></span>
                                                            </label>
                                                            <span> </span>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        @endforeach
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-3 col-md-12"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function uploadVideo() {
        var form = new FormData($('#form_tv')[0]);
        $.ajax({
            type: "POST",
            url: '/designer/tvo/store',
            data: form,
            processData: false,
            contentType: false,
            success: function(r) {
                if (r.code == 200) {
                    Swal.fire('¡Perfecto!', 'Datos insertados correctamente', 'success').then(function() {
                        window.location = '/designer/tv/list';
                    });
                } else
                if (r.code == 406) {
                    Swal.fire(r.msg, 'Intente nuevamente', 'warning')
                } else {
                    Swal.fire('¡Error!', 'Fallo en el servidor', 'error')
                }
            },
        });
        return false;
    }

    function changeState(id, state) {
        $.post('/designer/tvo/changeStatus', {
            id: id,
            _token: $('meta[name="csrf-token"]').attr('content')
        }).done(function(e) {

        });
    }
</script>
